---
layout: default
---
	<style>

		#loading {
			display: none;
			position: absolute;
			top: 10px;
			right: 10px;
		}

		#calendar {
			max-width: 700px;
			margin: 0 auto;
		}

	</style>
	<script src='{{site.url}}/js/moment.min.js'></script>
	<script src='{{site.url}}/js/fullcalendar.min.js'></script>
	<script src='{{site.url}}/js/gcal.min.js'></script>
	<script type='text/javascript'>

	$(document).ready(function() {
	    $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,listYear'
			},
      firstDay: 1,
			displayEventTime: false,
		googleCalendarApiKey: 'AIzaSyCgOU40t0VNk0gVRt8VpEAQYp8hFN0lqx8',
	        events: {
	            googleCalendarId: '9goc0fh70i0aanidu938cgmbnk@group.calendar.google.com'
	        },
			eventClick: function(event) {
				// opens events in a popup window
				if (event.url) {
					window.open(event.url);
				    return false;
				}
			},
			theme: true,
			themeSystem: "bootstrap3",
	    });
	});

	</script>
<script type="text/javascript">

    function loadCSS(filename){ 

       var file = document.createElement("link");
       file.setAttribute("rel", "stylesheet");
       file.setAttribute("type", "text/css");
       file.setAttribute("href", filename);
       document.head.appendChild(file);

    }


   //just call a function to load your CSS
   //this path should be relative your HTML location
loadCSS("{{site.url}}/css/fullcalendar.min.css");

</script>
    <div class="container">

      <div class="page-header-tall" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>AFNOM</h1>
            <p class="lead">University of Birmingham's Monkey-Inspired Hacking Club</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <img class="img-rounded img-monkey" src="assets/monkeys_bw_alpha.png" alt="">
          </div>
        </div>
      </div>

      <!-- Who We Are
      ================================================== -->
      <div class="bs-docs-section clearfix" id="who">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h3>Who We Are</h3>
            </div>

	        <div class="row">
	          <div class="col-lg-12">
	            <div class="bs-component">
	              <p> We are the Hacking Club at the University of Birmingham. We get together every week to look at offensive hacking and cyber security. We do this because understanding threats and how attackers think is the best way to keep computers secure... also it's fun.</p>
				  <blockquote>
				    <p>Any problem can be solved by enough monkeys acting completely at random.</p>
				  </blockquote>

	            </div>
	          </div>
			</div>
		  </div>
		 </div>
		</div>




    <!-- Contact
    ================================================== -->
    <div class="bs-docs-section clearfix" id="contact">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3>Contact</h3>
          </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
              <p> To keep up to date about meetings and competitions please join our mailing list  <a href="https://groups.google.com/d/forum/bham-hacking-group">bham-hacking-group</a>. We also have a <a href="https://join.slack.com/t/afnom/shared_invite/enQtMjQ1MzYwMDkxNTg3LTYyMjlhZWZjYjFkZTMwOTQ4MzM2ZmVkMzgxMWU2ZDhmNTE2ODNkMjUxNDg2MzhjNGJmYzRmMzY5MmZmYjBkYjE">Slack team</a>! For more information please contact <a href="javascript:window.location.href=atob('bWFpbHRvOmt4bTY2M0Bjcy5iaGFtLmFjLnVr')">Kit Murdock</a>
              or <a href="http://www.cs.bham.ac.uk/~air111">Andreea Radu</a>.</p>
            </div>
          </div>
		</div>
	  </div>
	 </div>
	</div>

   <!-- WTCTF
================================================== -->
<div class="bs-docs-section clearfix" id="contact">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h3>CTFs We Organised! </h3>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            <h3>WhatTheCTF 2019</h3>
              <p> This year we have organised our first CTF! You can read more about it and see our amazing photos here: </p>
              {% for ctf in site.wtctf %}
                {% if ctf.category == "index" %}
                  <p><a href="{{ ctf.url | prepend: site.url }}"
                        target="_new"><img src={{ site.url | append: "/assets/"
                        | append: ctf.logo }} style="height: 10em;"/></a></p>
                  {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
   {% for ctf in site.ctfs%}
     {% if ctf.category == "index" %}
      <div class="row">
       <div class="col-lg-12">
         <div class="bs-component">
           <h3>{{ ctf.title }}</h3>
           <p> {{ ctf.desc }}  </p>
                 <p><a href="{{ ctf.url | prepend: site.url }}"
                       target="_new"><img src={{ site.url | append: "/assets/"
                       | append: ctf.logo }} style="height: 8em;"/></a></p>
         </div>
       </div>
      </div>
       {% endif %}
   {% endfor %}
    </div>
  </div>
</div>


      <!-- Meetings
      ================================================== -->
      <div class="bs-docs-section clearfix" id="meetings">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h3>Meetings</h3>
            </div>

	        <div class="row">
	          <div class="col-lg-12">
	            <div class="bs-component">
		          <p>
		             All students are welcome, we can find hacking challenges that are appropriate for every skill level, however you must bring a laptop. </p>
					 <p class="text-success">We meet every Wednesday during term time, in either room 217 or the Sloman Lounge, Computer Science building, from 3pm. If you want to confirm, drop 
           <a href="javascript:window.location.href=atob('bWFpbHRvOmt4bTY2M0Bjcy5iaGFtLmFjLnVr')">Kit</a> an email. Check the calendar below, events mention the room they are taking place in!
		          </p>
	            </div>
	          </div>
		  </div>
		 </div>
		</div>


        <!-- Calendar
        ================================================== -->
        <div class="bs-docs-section clearfix" id="timetable">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-header">
                <h3>Calendar</h3>
              </div>

  	        <div class="row">
  	          <div class="col-lg-12">
  	            <div class="bs-component">
				  <p>Below you can find info on what we will be doing in the upcoming sessions. Important CTFs in which we will participate are also mentioned.</p>	<br />
				   <div id='loading' > Loading... </div>
  		          <div id='calendar' > </div>
			  </div>
  	            </div>
  	          </div>
  		  </div>
  		 </div>
  		</div>


    <!-- Tools
    ================================================== -->
    <div class="bs-docs-section clearfix" id="tools">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3>Tools</h3>
          </div>

        <div class="bs-component">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
             <tr>
                 <td>1</td>
                 <td><a href="https://www.wireshark.org/">WireShark</a></td>
                 <td>Network</td>
                 <td>A network packet sniffer and analyser.</td>
             </tr>
             <tr>
                 <td>2</td>
                 <td>IDApro <a
                   href="https://www.hex-rays.com/products/ida/support/download_freeware.shtml">
                   free version (V7.0)</a> and <a
                   href="https://www.hex-rays.com/products/ida/support/download_demo.shtml">Evaluation
                   version</a>
                 </td>
                 <td>Disassembler</td>
                 <td>IDA pro <a href="https://www.hex-rays.com/products/ida/support/freefiles/IDA_Pro_Shortcuts.pdf">cheat sheet</a></td>
             </tr>
             <tr>
                 <td>3</td>
                 <td><a href="http://jd.benow.ca"> JD-GUI</td>
                 <td>Disassembler</td>
                 <td>Java disassembler</td>
             </tr>
             <tr>
                 <td>4</td>
                 <td><a href="http://www.ollydbg.de">OllyDbg</a></td>
                 <td>Disassembler</td>
                 <td>Windows disassembler</td>
             </tr>
             <tr>
                 <td>5</td>
                 <td><a href="https://github.com/Mysterie/uncompyle2">Uncompyle2</a></td>
                 <td>Disassembler</td>
                 <td>Python disassembler</td>
             </tr>
             <tr>
                 <td>6</td>
                 <td><a href="https://www.suavetech.com/0xed/">0xED</a> (Mac OS).</td>
                 <td>Hex Editor</td>
                 <td></td>
             </tr>
             <tr>
                 <td>7</td>
                 <td><a href="https://portswigger.net/burp/proxy.html">Burp Proxy</a></td>
                 <td>Web App</td>
                 <td>An intercepting proxy</td>
             </tr>
             <tr>
                 <td>8</td>
                 <td><a href="https://www.gnu.org/software/gdb">GDB</a></td>
                 <td></td>
                 <td>The GNU Project Debugger</td>
             </tr>
            </tbody>
          </table>
        </div><!-- /example -->
	  </div>
	 </div>
	</div>


    <!-- Learning material
    ================================================== -->
    <div class="bs-docs-section clearfix" id="materials">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3>Learning material</h3>
          </div>

        <div class="bs-component">
			<p>Some learning resources and training exercises can be found below:</p>
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
             <tr>
                 <td>1</td>
                 <td><a href="http://www.dvwa.co.uk">Damn Vulnerable Web App</td>
                 <td>Web App</td>
                 <td>A Web App pen-testing tool</td>
             </tr>
             <tr>
                 <td>2</td>
                 <td><a href="https://vulnhub.com">VulnHub</a></td>
                 <td></td>
                 <td>Collection of vulnerable VMs</td>
             </tr>
             <tr>
                 <td>3</td>
                 <td><a href="https://www.overthewire.org/wargames">WarGames by OverTheWire</a></td>
                 <td></td>
                 <td></td>
             </tr>
             <tr>
                 <td>4</td>
                 <td><a href="http://smashthestack.org">Smash the Stack</a></td>
                 <td></td>
                 <td></td>
             </tr>
             <tr>
                 <td>5</td>
                 <td><a href="https://google-gruyere.appspot.com">Google Gruyere</a></td>
                 <td>Web app</td>
                 <td></td>
             </tr>
             <tr>
                 <td>6</td>
                 <td><a href="http://exploit-exercises.com">Exploit Exercises</a></td>
                 <td></td>
                 <td></td>
             </tr>
             <tr>
                 <td>7</td>
                 <td><a href="https://www.hackthissite.org">HackThisSite</a></td>
                 <td></td>
                 <td></td>
             </tr>
             <tr>
                 <td>8</td>
                 <td><a href="https://hellboundhackers.org">Hellbound Hackers</a></td>
                 <td></td>
                 <td></td>
             </tr>
             <tr>
                 <td>9</td>
                 <td><a href="https://main.immersivelabs.online/">Immersive Labs</a></td>
                 <td></td>
	         <td>Digital Cyber Security training platform</td>
             </tr>
             <tr>
                 <td>10</td>
                 <td><a href="https://www.hackthebox.eu"/>HackTheBox</a></td>
                 <td></td>
                 <td>Pentesting Labs</td>
             </tr>
	     <tr>
		<td>11</td>
		<td><a href="http://w3challs.com/">w3challs</a></td>
		<td></td>
		<td>Hacking Section</td>
	     </tr>
	     <tr>
		<td>12</td>
		<td><a href="http://pwnable.kr/">pwnable.kr</a></td>
		<td></td>
		<td>System exploitation all the way!</td>
	     </tr>
             <tr>
                 <td>13</td>
                 <td><a href="https://www.enigmagroup.org">EnigmaGroup</a></td>
                 <td></td>
                 <td>Great for self-leaning. Good mentoring support.</td>
             </tr>
             <tr>
                 <td>14</td>
                 <td><a href="https://www.pentesterlab.com">Pentesters lab</a></td>
                 <td></td>
                 <td>Web hackings -- some labs are free</td>
             </tr>
             <tr>
                 <td>15</td>
		 <td><a href="http://captf.com/practice-ctf/">CTF Practice</a></td>
                 <td>Misc</td>
                 <td>Links to a lot of hacking websites</td>
             </tr>
             <tr>
                 <td>16</td>
		 <td><a href="http://pentestmonkey.net/">Pentestmonkey</a></td>
                 <td>Cheat Sheets</td>
                 <td>Some explanations towards pentesting and cheat sheets for SQL/shell injection</td>
             </tr>
             <tr>
                 <td>17</td>
		 <td><a href="https://www.offensive-security.com/metasploit-unleashed/">Metasploit Unleashed</a></td>
                 <td></td>
                 <td>Best Metasploit resources</td>
             </tr>
             <tr>
                 <td>18</td>
		 <td><a href="https://azeria-labs.com/">Azeria Labs</a></td>
                 <td></td>
                 <td>ARM RE and exploitation. Learning materials and exercises</td>
             </tr>

            </tbody>
          </table>
        </div><!-- /example -->
	  </div>
	 </div>
	</div>

    <!-- Write-ups
    ================================================== -->
    <div class="bs-docs-section clearfix" id="writeups">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3>Write-ups</h3>
          </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
		    <p>A full list of write-ups for competitions we have participated in can be found <a href="{{site.url}}/writeups/index.html">here</a>.</p>

		    <p>For submitting write-ups, please use <a href="{{site.url}}/misc_files/template-writeup.md">this template</a> if you want the file hosted on our site, or <a href="{{site.url}}/misc_files/external-writeup.md">the external template</a> if you plan to host the write-up on your own website. The format is Markdown. There are some explanations included in the files. Send them by email or submit a Git pull request.</p>

            </div>
          </div>
	  </div>
	 </div>
	</div>



    <!-- Publications
    ================================================== -->
    <div class="bs-docs-section clearfix" id="pubs">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h3>Publications</h3>
          </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
		    <p> <a href="{{site.url}}/assets/vibrant/Organising_Monkeys.pdf">Organising Monkeys or How to Run a <em>Hacking</em> Club</a> <br />
				 	<em>Andreea-Ina Radu, Sam L. Thomas</em> <br />
			  Vibrant Workshop 2015, The first UK Workshop on Cybersecurity Training &amp; Education  <br />
			  <a href="{{site.url}}/assets/vibrant/Organising_monkeys_pres.pdf">Presentation slides </a></p>
            </div>
          </div>
		</div>
	  </div>
	 </div>
	</div>

    </div>

