<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery a {float: left; display: block; margin: 1% 1% 1% 1%; width: 30%; text-align: center; text-decoration: none!important;}
    .image-gallery a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery a img {width: 100%; display: block;}
</style>

<div class="image-gallery">
{% for file in site.static_files %}
  {% if file.path contains include.folder %}
  {% unless file.path contains "thumbs" %}
    {% if file.extname == '.jpg' or 
      file.extname == '.jpeg' or 
      file.extname == '.JPG' or 
      file.extname == '.JPEG' %}

      {% assign filenameparts = file.path | split: "/" %}
      {% assign filename = filenameparts | last | replace: file.extname,"" %}
      {% assign thumbfile = include.folder | append: "/thumbs/" | append: file.name %}

      <a href="{{ site.url }}{{ file.path }}" target="_new" title="{{ filename }}">
        <img src="{{ site.url }}{{ thumbfile }}" target="_new" alt="{{ filename }}" />
      </a>
    {% endif %}
    {% endunless %}
  {% endif %}
{% endfor %}
</div>

