html
{
	font-family: Arial, Helvetica, sans-serif;
}

header
{
	overflow: hidden;
	height: 250px;
	width: 100%;
}

header > div
{
	float: left;
}

.header-main
{
	font-size: 2em;
	font-weight: bold;
}

.header-sub
{
	font-size: 1.2em;
	font-style: italic;
}

.header-image
{
	float: right;
	height: 250px;
}

h2
{
	background-color: #0000ff;
	color: #ffffff;
	padding: 0 2px;
	font-size: 1.1em;
}