---
layout: default
---
{% if page.grouptype == 'tag' %}
  <h1>##{{ page.tag }}</h1>
{% elsif page.grouptype == 'category' %}
  <h1>{% if page.title %}{{ page.title }}{% else %}#{{ page.category }}{% endif %}</h1>
{% endif %}

{% if page.description %}
  <p>{{ page.description }}</p>
{% endif %}

{% for post in paginator.posts %}
  <article>
    <h2>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="posted small">Posted on {{ post.date | date: "%A, %d %B %Y" }} by {{ post.author }}.</span>
    </h2>
    {% if post.summary %}
      <p>{{ post.summary }}</p>
    {% endif %}
    <div class="more small">
      {% assign item = post %}
      {% include tags.html  %}
      {% assign item = nil  %}
      <a href="{{ post.url }}" class="readon">read on</a>
    </div>
  </article>
{% endfor %}
  
{% if page.grouptype == 'tag' %}
  {% capture root %}/tag/{{ page.tag }}{% endcapture %}
{% elsif page.grouptype == 'category' %}
  {% capture root %}/category/{{ page.category }}{% endcapture %}
{% else %}
  {% capture root %}{% endcapture %}
{% endif %}

{% if paginator and paginator.total_pages > 1 %}
  <div class="pv">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="pp" href="{{ root }}/">Previous</a>
      {% else %}
        <a class="pp" href="{{ root }}/page{{ paginator.previous_page }}">Previous</a>
      {% endif %}
    {% else %}
      <span class="pp di">Previous</span>
    {% endif %}

    {% if paginator.page == 1 %}
      <span class="pg">1</span>
    {% else %}
      <a href="/">1</a>
    {% endif %}

    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
        <span class="pg">{{ count }}</span>
      {% else %}
        <a class="pg" href="{{ root }}/page{{ count }}">{{ count }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a class="pn" href="{{ root }}/page{{ paginator.next_page }}">Next</a>
    {% else %}
      <span class="pn di">Next</span>
    {% endif %}
  </div>
{% endif %}
{% assign root = nil %}
{% assign type = nil %}
